<section>
    <div class="section margin--bottomxlarge">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="headline headline--withstripes"><span class="headline__wrapper">{contentObjectData.header}</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <f:for each="{events}" as="event">
                        <f:render partial="Event" arguments="{event: event}" />
                    </f:for>
                </div>
            </div>
        </div>
    </div>
</section>